<div class="container">
<h1>Review Form</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.label :rating %>
  <%= f.select :rating, Review::PERMITTED_REVIEW %>
  <br />
  <br />
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
</div>
